body {
  background-color: rgb(112, 137, 229);
  display: flex;
  justify-content: center;
}

.card {
  background-color: aliceblue;
  width: 700px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.interval-date {
  margin-bottom: 5px;
}
.name {
  font-size: larger;
  font-weight: bolder;
}
